# Terraform directories
**/.terraform/
**/.terraform/*

# Lock file (solo dev는 무시해도 ok)
.terraform.lock.hcl

# State files (절대 커밋 금지!!)
*.tfstate
*.tfstate.*

# Variables containing secrets
*.tfvars

# SSH Keys
*.pem
*.pub
*.key

# Crash logs
crash.log

.DS_Store

# Github Actions 자동화 전 수동 tfvars 주입용 

*.tfvars
*.auto.tfvars