---
- hosts: private
  become: yes
  tasks:

    - name: Install required packages
      package:
        name:
          - git
          - ca-certificates
        state: present

    - name: Install Docker
      package:
        name: docker
        state: present

    - name: Create Docker CLI plugins directory
      file:
        path: /usr/local/lib/docker/cli-plugins
        state: directory
        mode: '0755'

    - name: Install Docker Compose Plugin (v2)
      get_url:
        url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
        dest: /usr/local/lib/docker/cli-plugins/docker-compose
        mode: '0755'

    - name: Ensure Docker is running
      service:
        name: docker
        state: started
        enabled: true