name: "CI/CD For GitOps"

on:
  push:
    branches: [main]

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    env:
      working-directory: ./Terraform    
    
    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.1.7
    
    - name: Terraform Init
      run: terraform init
    
    - name: Terraform Format
      run: terraform fmt-check
    
    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
    
    - name: Terraform Plan
      id: plan
      run: terraofmr plan -input=false -no-color
    
    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false

